<div class="container">
  <%= render 'layouts/messages' %>
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Categories:</h3>
        <li><%= link_to "All", tools_path %></li>
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>
    </div>
    <div class="col-md-9 col-sm-9">
      <h1>All Tools: (<%= "#{Tool.all.length}" %>)</h1>
      <div class="row">
        <div class="card-columns">

          <% @all.each do |tool| %>
            <% tool.user_tools.each do |ut| %>
              <% if ut.available %>
                    <div class="card w-90 h-90">
                      <a href="<%= tool_path(ut.tool) %>"><img src="<%= ut.image %>" class="card-img-top" alt="..."></a>
                      <div class="card-body">
                        <h5 class="card-title"><%= ut.tool.name.capitalize %></h5>
                        <p class="card-text"><%= ut.description %></p>
                      </div>
                      <div class="card-footer">
                        <p>Cost: $<%= ut.cost %>/day</p>
                      </div>
                    </div>
              <% end %>
            <% end %>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>
