<h1><%= @instance.name %></h1>

<p>
  Current Listings:
  <ul>
    <% @instance.user_tools.each do |ut| %>
      <p><%= ut.image %></p>
      <p><%= ut.description %></p>
      <%= link_to ut.user.username, user_path(ut.user) %>
      @ $<%= ut.cost %> / day -
      <%= link_to "Add to Cart", add_path(cart_tool:{user_tool_id:ut.id,cart_id:@cart_tool.id})%>
    <% end %>
  </ul>
</p>
