
<div class="row">
  <div class="col-sm-4">
    <h1><%= @instance.name %></h1>

  </div>
  <div class="col-sm-8">
    <h1>Current Listings</h1>
  </div>
</div>

<div class="col-md-9 offset-3">
  <% @instance.user_tools.each do |ut| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="<%= ut.image %>" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title"><%= @instance.name %></h5>
            </div>
            <div class="row">
              <p class="card-text"><%= ut.description %></p>

            </div>
            <div class="row">
              <div class="col-md-4">
                <p class="card-text">&#x24;<small class="text-muted"><%= ut.cost %> / day </small></p>
              </div>
              <div class="col-md-8">
                <small> Offered by: <%= link_to ut.user.username, user_path(ut.user)%></small>
                <small> <% if current_user != ut.user %>
                    <%= link_to "Add to Cart", add_path(cart_tool:{user_tool_id:ut.id,cart_id:@cart.id}), class: 'btn btn-primary'%>
                  <% end %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
