<%= render 'shared/errors', obj: @user%>

<div class="row">
  <div class="col-md-9 offset-md-3">
    <%= form_for @user, url: create_tool_path(@user), action: create_tool_url, method: :post do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= label_tag "Category" %>
        </div>
        <div class="col-sm-6">
          <%= f.collection_select :user_tools, Category.all, :id, :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= label_tag "Name" %>
        </div>
        <div class="col-sm-6">
          <input type="text" name="tool[name]" id="tool_name" class="form-control" placeholder="give it a name">
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= label_tag "Price" %>
        </div>
        <div class="col-sm-6">
          <input type="text" name="user_tool[cost]" id="user_tool[cost]" class="form-control" placeholder="price">
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= label_tag "Image" %>
        </div>
        <div class="col-sm-6">
          <input type="text" name="user_tool[image]" id="user_tool[image]" class="form-control" placeholder="url">
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= label_tag 'Description' %>
        </div>
        <div class="col-sm-6">
          <textarea rows="3" name="user_tool[description]" id="user_tool[description]" class="form-control" placeholder="description"></textarea>
        </div>
      </div>

      <%= f.submit "Add tool", class: 'btn btn-outline-primary' %>
    <% end %>
    <div class="col-md-6 offset-2">
      <%= link_to "Cancel", tools_path%>
    </div>
  </div>
</div>
