<div align="center">
  <%= render 'layouts/messages' %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <ul id="user-page" class="list-group list-group-flush">
        <li class="list-group-item">Username: <%= @user.username %></li>
        <li class="list-group-item">Name: <%= @user.name %></li>
        <li class="list-group-item">Phone: <%= @user.phone_number %></li>
        <li class="list-group-item">Email: <%= @user.email %></li>
      </ul>


      <div class="btn-group" role="group" aria-label="Basic example">

<!--        <button type="button" class="btn btn-secondary">Right</button>-->

          <%= link_to 'Add Tool', new_tool_path(@user), class: 'btn btn-secondary btn-sm' %>
          <% if current_user == @user %>
            <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Delete Account', delete_account_path(current_user), method: :delete, class: 'btn btn-danger btn-sm' %>
          <% end %>

      </div>
    </div>
    <div class="col-md-8">
      <h2><%= "#{@user.username}'s" %> Inventory: <%= "(#{@user.user_tools.length})" %></h2>
      <% @user.user_tools.map do |ut| %>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a href="<%= user_tool_path(ut) %>"><img src="<%= ut.image %>" class="card-img" alt="..."></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= ut.tool.name %></h5>
                <p class="card-text"><%= ut.description %></p>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p class="card-text"><small class="text-muted">Cost: $<%= ut.cost %>/day</small></p>
                </div>
                <div class="col-sm-6">
                  <small>
                    <% if ut.available %>
                      <% if current_user != ut.user %>
                        <%= link_to "Add to Cart", add_path(cart_tool:{user_tool_id:ut.id,cart_id:current_cart.id}), class: 'btn btn-primary'%>
                      <% end %>
                    <% else %>
                    <p>Currently Unavailable</p>
                    <% end %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
