
<div class="container">
  <div class="row">
    <div class="card mb-3" style="max-width: 80%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="<%= @usertool.image %>" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= @usertool.tool.name %></h5>
            <p class="card-text">Description: <%= @usertool.description %></p>
            <p class="card-text">Cost: $ <%= @usertool.cost %></p>
            <p class="card-text">Added on: <small class="text-muted"><%= @usertool.formatted_date %></small></p>
            <small> Offered by: <%= link_to @usertool.username, user_path(@usertool.user)%></small>
            <small> <% if current_user != @usertool.user %>
                <%= link_to "Add to Cart", add_path(cart_tool:{user_tool_id:@usertool.id,cart_id:@cart.id}), class: 'btn btn-primary'%>
              <% end %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

