<h2>Order Date: <%= @instance.formatted_date %></h2>

<% @instance.user_tools.each do |ut| %>
<br>
<p>
  <%= link_to ut.tool.name, user_tool_path(ut) %> -  $<%= ut.cost %>
  <% if @instance.complete == false %>
  <%= link_to "Remove From Cart" %>
  <% end %>
</p>
<% end %>
<br>
<p>Subtotal: $<%= @instance.total %>
  <% if @instance.complete == false %>
  <%= link_to "Checkout" , checkout_path%>
  <% end %>
</p>
