<h2><%= @cart.formatted_date %></h2>

<% @cart.user_tools.each do |ut| %>
<br>
<p>
  <%= link_to ut.tool.name, user_tool_path(ut) %> -  $<%= ut.cost %>
  <% unless @cart.complete %>
  <%= link_to "Remove", remove_path(cart_tool:{user_tool_id:ut.id, cart_id:@cart.id}), method: :post %>
  <% end %>
</p>
<% end %>
<br>
<p>Subtotal: $<%= @cart.total %>
  <% if !@cart.complete && @cart.user_tools.length > 0 %>
  <br>
  <%=  link_to "Checkout" , checkout_path, class: 'btn btn-warning', method: :patch %>
  <% end %>
</p>
